<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | relative_url }}">
    {% seo %}
    
    <style>
      header h1 a {
        text-decoration: none !important;
        border: none !important;
      }
      h1, h2, h3, h4, h5, h6 {
        text-decoration: none !important;
        border-bottom: none !important;
      }
      a {
        text-decoration: none !important;
      }
      /* Optional: Adds underline only when you hover over a link */
      a:hover {
        text-decoration: underline !important;
      }
    </style>
  </head>

  <body>
    {% if page.url == "/" %}
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}

    {% seo title=false %}
    <header>
      <div class="container">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2>{{ site.description }}</h2>

        <section id="downloads">
          <a href="mailto:nyc@yuchengng.com" class="btn">email me</a>
          <a href="https://github.com/lucasnyc" class="btn">GitHub</a>
        </section>
      </div>
    </header>
    {% endif %}

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
